body {
    font-family: $mainFont;
    font-size: 18px;
    color: $primaryFontColor;
    line-height: 1.5;

    h1,
    h2 {
        font-family: $headingsFont;
        margin: 0;
    }

    p {
        color: $paragraphFontColor;
    }

    a {
        text-decoration: none;
        color: $secondaryFontColor;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1360px;
        padding: 0 15px;
        margin: 0 auto;
    }

    section {
        padding: 155px 0 0 0;
    }

    .primary-button {
        padding: 21px 44px;
        background-color: $primaryColor;
        border-radius: 55px;
        display: inline-block;

        &:hover {}
    }
}