// Global

$bgColor: #fff;
$primaryFontColor: #000;
$secondaryFontColor: #fff;
$mainFont:'Rubik',
sans-serif;
$headingsFont: 'Poppins',
sans-serif;
$paragraphFontColor:#9f9f9f;
$primaryColor:#676cdb;
$mainTransition: all 0.3s ease-in-out;

// Navigation

$navBgColor: #212025;


// Hero section

$heroBgColor: #212025;