// Global

$bgColor: #fff;
$primaryFontColor: #000;
$secondaryFontColor: #fff;
$mainFont:'Rubik',
sans-serif;
$headingsFont: 'Poppins',
sans-serif;
$paragraphFontColor:#9f9f9f;
$primaryColor:#676cdb;
$mainTransition: all 0.3s ease-in-out;
$boxShadowColor:rgba(4, 9, 30, 0.05);

// Navigation

$navBgColor: #212025;


// Hero section

$heroBgColor: #212025;

// Testimonials

$TestimonialsFontColor:#212025;
$arrowColor:#f2f2f2;