.blog-section {
    .heading {
        text-align: center;
    }





    .blog-boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -15px;

        @include forTablet {
            flex-wrap: wrap;
            gap: 20px;

        }

        @include forSmartphone {
            flex-direction: column;
            gap: 20px;
            margin: 0;
        }

        .blog-container {
            padding: 0 15px;
            width: calc(100%/3);

            @include forTablet {
                width: 45%;
                padding: 0;
            }

            @include forSmartphone {
                width: 100%;
                padding: 0;
            }



            .blog-box {
                box-shadow: 0px 20px 35px 10px $boxShadowColor;
                display: block;
                border-radius: 20px;
                overflow: hidden;

                .img-box {
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: $mainTransition;
                        display: block;

                        &:hover {
                            scale: 1.05;
                        }

                    }


                }

                .blog-content {
                    padding: 30px;

                    @include forSmartphone {
                        padding: 10px;
                    }


                    .blog-date {

                        .blog-category {
                            color: $primaryColor;
                        }
                    }

                    .blog-title {
                        color: $primaryFontColor;
                        font-weight: 500;
                        @include fluid-type(320px, 1290px, 20px, 22px);
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
}