@keyframes slidein {
    from {
        translate: 0 -100%;
        opacity: 0.6;
    }

    to {
        translate: 0;
        opacity: 1;
    }
}


nav {
    padding: 30px 0;
    background-color: transparent;
    position: fixed;
    width: 100%;
    inset: 0 0 auto auto;
    z-index: 100;
    transition: $mainTransition;

    &.color-scroll {
        background-color: $secondaryColor;
        animation: slidein 1s;

    }

    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .logo {

            span {
                color: $primaryColor;
            }
        }

        .nav-menu {
            display: flex;
            gap: 40px;
        }

        .media-list {
            margin: 0 25px 0 0;
        }
    }
}