.portfolio {
    .heading {
        text-align: center;
    }

    .gallery-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0 0 40px 0;

        li {
            a {
                color: $primaryFontColor;
            }
        }

    }

    .gallery {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .gallery-col {
            display: flex;
            flex-direction: column;
            width: calc(100/3);
            gap: 20px;

            .img-container {
                width: calc(100/3);
                overflow: hidden;
                border-radius: 20px;

                img {
                    transition: $mainTransition;
                    display: block;
                    width: 100%;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }
    }
}